<nav class="navbar navbar-dark">
    </nav>
    <div class="container">
        <div class="row justify-content-center p-2">
            <h1>MY NOTES APP</h1>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="notetitle" placeholder="Enter title">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="note" placeholder="Enter Message">
        </div>
        
        <div class="form-group">
            <button class="btn btn-primary" (click)="CreateRecord()">Create Note</button>
        </div>
        <div class="form-group">
            <h4><b>{{message}}</b></h4>
        </div>
    
    
    
    </div>
    <li><a routerLink="/login" routerLinkActive="active">View ALL</a></li>
    <router-outlet></router-outlet>



 
